
@font-face {
	font-family: 'IconPack';
	src: url('fonts/iconpack.eot');
	src: local('IconPack'),
		url('fonts/iconpack.woff') format('woff'),
		url('fonts/iconpack.otf') format('opentype'),
		url('fonts/iconpack.svg#IconPack') format('svg');
	
}

footer a.iconpack, .labs {
	font: normal 20pt 'IconPack';
	line-height: 30px;
}
footer a.iconic {
	font: normal 20pt 'IconicStroke';
	line-height: 45px;
}


.labs, footer a.iconpack, footer a.iconic {
	cursor: pointer;
	display: block;
	width: 30px;
	height: 100%;
	
	float: left;
	color: #aaa;
	text-shadow: 1px 1px 0px #fff;
	padding: 0 7px;
	margin:0;
	background:transparent;
	transition: color .5s ease-out;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
}

a.iconpack:hover, a.iconic:hover,  a.iconpack.active {
	color: #666;
}

a.iconpack.time:before {
	content: 's';
}
a.iconpack.star:before {
	content: 'a';
}

