@import 'nib'
@import 'normalize'
@import 'webfonts'
@import 'utils'

nav-width = 290px

html
	overflow auto

body
	font normal 10pt sans-serif, Arial, Helvetica

div.main
	background #eee url('../img/wood.jpg')
	absolute(top 0, right 0, bottom 0, left nav-width)

div.deck
	width 450px
	overflow hidden
	margin 20px auto
	position relative
	box-shadow 0 0 20px rgba(0,0,0,0.7)
	background linear-gradient(top, #fff 0%, #e6e6e6 90%)

	& h2
		margin 0
		color #fff
		padding 0 20px
		text-shadow #000 1px 1px 1px
		font normal 18px/38px 'MuseoSans500', sans-serif
		background-image linear-gradient(top, #0e8bce 20%, #025986 100%)
		box-shadow 0 1px 2px rgba(#fff, 0.35) inset, 0 2px 3px rgba(#000, 0.4)

	& .card
		height 350px
		margin 0 0 40px

		& div
			padding 0 45px
			text-align center
			font normal 22pt 'Open Sans Condensed'

		& .question
			height 50%

		& .answer
			height 30%
			font-size 16pt

		& .tools
			height 20%
			cursor pointer
			font 12pt Arial, sans-serif

			& div
				display inline-block // center the right floateds children

			& a.iconic:hover ~ a.iconic, & a.iconic:hover
				color #aaa

			& a.iconic
				float right // reverse in the previous general sibling selector (~)
				font-size 24pt
				color rgba(#000, 0.12)

		& p
			margin 0
			width 100%
			height 100%
			box(center, center, vertical)

footer
	absolute(bottom 0, left 0, right 0)
	background linear-gradient(top, #f0f0f0 0%,#cfcfcf 100%)
	box-shadow 0 -1px 6px rgba(#000, 0.15)

	&.options
		height 40px
		padding 0 5px

		& a
			outline 0
			float left
			text-decoration none
			font bold 30px/30px 'Open Sans Condensed'

			&.icon
				color #444
				padding 0 4px
				float right

div.nav
	z-index 1
	width nav-width
	background #f4f4f4
	box-shadow 0 0 15px #000
	absolute(top 0, bottom 0)

	& .search
		padding 13px 0
		text-align center
		border-bottom 1px solid #bbb
		background linear-gradient(top, #fdfdfd, #f0f0f0 50%, #e3e3e3 50%, #e9e9e9 50%, #eee)

		& input
			margin 0
			width 88%
			padding 5px 8px
			border-radius(10px)
			border 1px solid #bbb
			box-shadow 1px 1px 3px #ccc inset
			&:focus
				outline: none
				border: 1px solid rgba(#0e8bce, 0.5)
	
	& ul
		list-style-type none
		padding 0
		margin 0
		& li
			background linear-gradient(top, #efefef 0%, #fafafa 100%);
			height 40px
		
	& footer
		height 40px

@import 'icons'