!!! 5
html
	head
		meta(charset="utf-8")
		title= settings.title

		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light' rel='stylesheet' type='text/css")
		link(rel="stylesheet", type="text/css", href="/css/styles.css")

		script(src="js/vendor/head.js")

	body

		div(class="nav")
			div(class="search")
				input(type="text", placeholder="busca...")

		div(class="main")

			div(class="deck")

				h2 Regimento Interno

				div(class="card")

					div(class="question")
						p O Tribunal Superior do Trabalho é composto por 27 ministros.

					div(class="answer")
						p Verdadeiro

					footer(class="tools")
						div
							a(class="iconic star")
							a(class="iconic star")
							a(class="iconic star")
							a(class="iconic star")
				
				footer(class="options") 
					a(class='iconic clock')
					a(class='iconic pencil')
					a(class='iconic image')
					a(class="next", href="#proxima") ›
					a(class="previous", href="#anterior") ‹

		script(src="js/fcard.js")
